* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("./assets/bg.jpg");
}

.app h1 {
  margin-top: -18rem;
  font-size: xxx-large;
  color: #ffffff;
}

.app > p {
  margin-top: 1rem;
  color: #fff;
}

.container {
  height: 14.5rem;
  width: 31.25rem;
  margin-top: 10rem;
  padding: 1.2rem;
  background-color: white;
  border-radius: 1rem;
}

.container > img {
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.container > p {
  padding-top: 5rem;
  padding-left: 2rem;
}

.quote-container .quote {
  height: 4rem;
  margin-top: 1.5rem;
  font-size: x-large;
  font-weight: 500;
  font-style: italic;
}

.quote-container .author {
  padding-top: 1rem;
  text-align: right;
  font-weight: 600;
  color: #674d6b;
}

.quote-container img {
  display: block;
  margin: 4.5rem auto;
}

.quote-container .outer-border {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 2rem auto 0;
  padding: 0.063rem;
  border: 0.125rem solid #86648b;
  border-radius: 1.25rem;
  cursor: pointer;
}

.quote-container button {
  padding: 0.75rem 1.5rem ;
  border: 0.063rem solid #fff;
  border-radius: 1.25rem;
  font-size: 0.906rem;
  font-weight: 600;
  color: #ffffff;
  background: #86648b;
  cursor: pointer;
}

.quote-container button:hover {
  background: #9f7ba5;
}